:root {
    --first-color: rgb(100, 150, 100);
    --scale-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--scale-size);
    box-sizing: border-box; /* Ensure padding and borders are included in width */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--first-color);
    padding: var(--scale-size);
}

.todo-app {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: calc(var(--scale-size) * 2);
}

.todo-app h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--scale-size);
    font-size: calc(var(--scale-size) * 2);
}

.row-container {
    margin-bottom: var(--scale-size);
}

.row {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    width: 100%;
    background: var(--first-color);
    height: calc(var(--scale-size) * 3);
}

.row:nth-child(2) {
    background: white;
}

.row:nth-child(2) input,
.row:nth-child(2) input::placeholder {
    color: var(--first-color);
}

input, select, button {
    border: none;
    outline: none;
    height: 100%;
    padding: 0 var(--scale-size);
    width: 100%;
}

input {
    flex-grow: 1;
    background: transparent;
}

input, input::placeholder {
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="date"], select {
    background: white;
    color: var(--first-color);
}

input[type="date"] {
    cursor: text;
}

select, button {
    cursor: pointer;
    flex-shrink: 0;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button {
    background: white;
    color: var(--first-color);
}

ul li {
    list-style: none;
    padding: var(--scale-size);
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li.checked {
    text-decoration: line-through;
}

ul li span {
    position: absolute; 
    right: calc(var(--scale-size) / 2);
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--scale-size) * 2);
    height: calc(var(--scale-size) * 2);
    font-size: var(--scale-size);
    line-height: calc(var(--scale-size) * 2);
    color: var(--first-color);
    text-align: center;
    cursor: pointer;
}

ul li span:hover {
    background: var(--first-color);
    color: white;
}