:root {
    --first-color: rgb(100, 150, 100);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: var(--first-color);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--first-color);
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: white;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}